<!DOCTYPE html>
<head>
	<title>Ongoing Game</title>
	<link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>	
	<link rel="icon" type="image/png" href="img/favicon.png" />  			<!-- CITATION: https://www.freefavicon.com/freefavicons/objects/iconinfo/chess-piece-silhouette---black-knight--caballo-negro-152-275297.html -->

</head>

<body class="CannotPlayMenu">

	<div>
		<h1 class="jumbotron">C.H.E.S.S.</h1>
		<p class="CannotPlayPara">Thank you for showing interest, unfortunately, there is a game ongoing in the server. You would have to retry again later.</p>
		<script>setTimeout(function(){ window.location='/menu' }, 3000);</script>
	</div>
</body>