<!DOCTYPE html>
<html>
<head>
    <title>Chess Game</title>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script type=text/javascript src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src='./js/main.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script src='js/main.js'></script>
    <script src="js/Board.js"></script>
    <script src="js/Piece.js"></script>
    <script src="js/King.js"></script>
    <script src="js/Queen.js"></script>
    <script src="js/Bishop.js"></script>
    <script src="js/Knight.js"></script>
    <script src="js/Rook.js"></script>
    <script src="js/Pawn.js"></script>
    <link rel="icon" type="image/png" href="img/favicon.png" />  			<!-- CITATION: https://www.freefavicon.com/freefavicons/objects/iconinfo/chess-piece-silhouette---black-knight--caballo-negro-152-275297.html -->
	<script type="text/javascript">
	let turn = '{{ turn }}';
    let name = '{{ name }}';
    let numberofplayers = '{{ players }}';
    $(document).ready(function() {
            namespace = '/test';			
            socket = io(namespace);	
            if (turn == 'true'){
                turn = true;
                
                setturn(turn,name);
                swal({	
                icon: 'success',	
                title: 'You are Player 1!',
                text: "you play with white pieces. You cannot play until another player connects, please wait until you see another message!"	
                });
            }else if (turn == 'false'){
                
                myturn = false;
                myname = name
                totalplayers = numberofplayers
                setTimeout(function(){ 
                    socket.emit('updateplayers',{room: '1', 'players': totalplayers})
                    swal({	
                    icon: 'success',	
                    title: 'You are Player 2!',
                    text: "you play with black pieces"	
                    });	 
                }, 2000);
            }
    });
    
    
    function Resign(){
        socket.emit('resign', {room: '1', 'player': myname});
        window.location='/resign';
    }		
    </script>
<script>

    function myFunction(){
        var myDropdown = document.getElementById("myDropdown");
        if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
        }
  }
    
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="sweetalert2.all.min.js"></script>

</head>
<body onload="load()" class="index" style = "background-image:url('./../img/gameplay.jpg')">
    
    <header>
        <div class="navbar">
            <a id="disconnect" onclick="Resign()">Resign</a>
            <!-- <a value="skip turn" id="skipturn" onclick = "skipTurn()"></a> -->
            <a value="Toggle Difficulty" id="togglediff" onclick = "toggleDiff()">Toggle Difficulty</a>
            <a value="Modern Theme" onclick = "moderntheme()">Modern Theme</a>
            <a value="Classic Theme" onclick = "classictheme()">Classic Theme</a>
            <a value="Simple Black & White" onclick = "bwtheme()">Simple Black & White</a>
          </div>
    </header>
    <!-- <form id="join" method="POST" action="#">
        <input style="visibility: hidden" type="submit" value="Join Room" id="joinSubmit">	
    </form> -->
	<div>
    <div id="log"></div>
	</div>
   	<div class="Board_div" style = "background-color:white"></div>
    </div>
	
</body>
</html>