<!DOCTYPE html>
<html>
<head>
    <title>Chess Game</title>
    <link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script type=text/javascript src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src='./js/main.js'>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<script src='js/main.js'></script>
    <script src="js/Board.js"></script>
    <script src="js/Piece.js"></script>
    <script src="js/King.js"></script>
    <script src="js/Queen.js"></script>
    <script src="js/Bishop.js"></script>
    <script src="js/Knight.js"></script>
    <script src="js/Rook.js"></script>
    <script src="js/Pawn.js"></script>
	<script type="text/javascript">
	let turn = '{{ turn }}';
	let name = '{{ name }}';
	if (turn == 'true'){
		turn = true;
		setturn(turn,name);
	}else if (turn == 'false'){
		turn = false;
		setturn(turn,name);
    }
    
    //Add Nav
    //Add resign button inside nav
	$(document).ready(function() {
            namespace = '/test';			
			socket = io(namespace);

		$('form#join').submit(function(event) {
				socket.emit('join', {room: '1'});
                return false;
            });
	});		
	
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="sweetalert2.all.min.js"></script>
</head>
<body onmouseover ='document.getElementById("joinSubmit").click();' onload="load()" style = "background-color:black">
    
    <header>
        <div class="navbar">
            <div class="dropdown">
                <input type = "button" class="btn" value="Dropdown">
                <div class = "dropdown-item">
                    <a class="right">Difficulty</a>
                    <a class="right">Theme</a>
                </div>
                
            </div>
        </div>
    </header>
    
    
    <!-- <header>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <nav class="navbar navbar-expand-md navbar-dark">
                        <a class="navbar-brand" href="/"><img src="/img/bike-icon.svg" style="max-height: 40px;"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item{% if active == 'Home' %} active{% endif %}">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item{% if active == 'About' %} active{% endif %}">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Bikes
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/bikes">Our Bikes</a>
                                        <a class="dropdown-item" href="/rent">Rent a Bike</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>		
	</header> -->
    
    
    <form id="join" method="POST" action="#">
        <input style="visibility: hidden" type="submit" value="Join Room" id="joinSubmit">	
    </form>
	<div>	
<input  type="submit" value="skip turn" id="skipturn" onclick = "skipTurn()">	
    <div id="log"></div>
	</div>
   	<div class="Board_div" style = "background-color:white">
    </div>
	
</body>
</html>