<!DOCTYPE html>
<head>
	<title>Game Over</title>
	<link rel='stylesheet' type='text/css' media='screen' href='./css/main.css'>
    <script type=text/javascript src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src='./js/main.js'>
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
	<link rel="icon" type="image/png" href="img/favicon.png" />  			<!-- CITATION: https://www.freefavicon.com/freefavicons/objects/iconinfo/chess-piece-silhouette---black-knight--caballo-negro-152-275297.html -->
	</script>
	<script>

	</script>
	<script>
		let finalwinner = '{{ winners }}';
		let finalloser = '{{ losers }}';
		let finalplayers = '{{ players }}';

		window.onload = function(){
			if (finalwinner == 'white'){
				finalwinner = '1';
			}else if(finalwinner == 'black'){
				finalwinner = '2';
			}
			if(finalloser == 'black'){
				finalloser = '2';
			}else if(finalloser == 'white') {
				finalloser = '1'
			}

			if (finalplayers==2){
				document.getElementById('endgamepara').innerHTML = 'Player ' + finalloser + ' resigned and by default Player ' +finalwinner +' wins!';
				
			} else{
				document.getElementById('endgamepara').innerHTML = 'You have resigned from the game, you were not playing with any other player!';
			}
			setTimeout(function(){ window.location='/menu' }, 3000);
		};
	</script>	
</head>
<body class="Resign">
	<div>
		<h1 class="jumbotron">C.H.E.S.S.</h1>
		<p class="CannotPlayPara" id="endgamepara"></p>
	</div>
</body>